<div class="container">
    <div class="logo"><a routerLink="/"><img src="./assets/images/logo.png" alt="Identity Cards"></a></div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span></span><span></span><span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#samples">ID Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our_product">Our Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item cart-link">
                    <a class="nav-link" routerLink="cart-section"><i class="material-icons">shopping_cart</i> 0</a>
                </li>
            </ul>
        </div>
    </nav>
</div>