<div class="container">
    <div class="top_footer">
        <ul>
            <li class="mail"><a href="mailto:info@creationgraphicss.co.in">info@creationgraphicss.co.in</a></li>
            <li class="mail"><a href="mailto:creationgraphicss@gmail.com">creationgraphicss@gmail.com</a></li>
            <li class="mail"><a href="mailto:creation.graphics89@gmail.com">creation.graphics89@gmail.com</a></li>
            <li class="call"><a href="tel:+919990571016">+91-9990 5710 16</a></li>
        </ul>
    </div>
    <div class="bottom_footer">
        <div class="copy_txt">Copyright © 2014 Creation Graphics. All rights reserved.</div>
        <div class="social_links">
            <ul>
                <li class="fb"><a target="_blank" href="https://www.facebook.com/IDCardss">Facebook</a></li>
                <li class="twitter"><a target="_blank" href="https://twitter.com/identitycards">Twitter</a></li>
                <li class="google"><a target="_blank"
                        href="https://plus.google.com/u/0/115968758321840895777">Google</a></li>
                <li class="linkedin"><a target="_blank" href="#">Linkedin</a></li>
                <li class="youtube"><a target="_blank" href="http://youtu.be/l0Kt8UojIyk">Youtube</a></li>
            </ul>
        </div>
    </div>
</div>