//footer
footer{
    font-size: 12px;
    width: 100%;
    @include f_left;
    color:$input-bg;
    background:$color-292929;
    @include media-breakpoint-up(sm){
        font-size: 16px;
    }
    .top_footer{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        @include f_left;
        @include media-breakpoint-up(sm){
            text-align: center;
        }
        h4{
            font-weight: normal;
        }
        ul{
            li{
                width: 25%;
                @include f_left;
                @include media-breakpoint-down(sm){
                    width: 50%;
                }
                @media (max-width: $screen-xxs-max){
                    width: 100%;
                }
                a{
                    padding-left: 20px;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 14px;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        @include call_bg;
                        background-size: contain;
                        @include media-breakpoint-down(sm){
                            height: 10px;
                        }
                    }
                }
                &.mail a:before{
                    background-image:url('./assets/images/mail.svg') 
                }
                &.call a:before{
                    background-image:url('./assets/images/call.svg') 
                }
            }
        }
    }
    .bottom_footer{
        font-size: 12px;
        border-top: 1px solid $black-color;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        @include f_left;
        .copy_txt{
            @include f_left;
            @media (max-width: $screen-xxs-max){
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        } 
        .social_links{
            @include f_right;
            @media (max-width: $screen-xxs-max){
                width: 100%;
                text-align: center;
            }
            ul{
                display: inline-block;
                li{
                    @include f_left;
                    margin-left: 10px;
                    a{
                        width: 20px;
                        height: 20px;
                        @include call_bg;
                        display: block;
                        text-indent: 30px;
                        overflow: hidden; 
                    }
                    &.fb a{
                        width: 9px;
                        background-image: url('./assets/images/facebook.svg');
                    }
                    &.twitter a{
                        width: 22px;
                        background-image: url('./assets/images/twitter.svg')
                    }
                    &.google a{
                        width: 22px;
                        background-image: url('./assets/images/google.svg');
                    }
                    &.linkedin a{
                        background-image: url('./assets/images/linkedin.svg');
                    }
                    &.youtube a{
                        background-image: url('./assets/images/youtube.svg');
                    }
                }
            }
        }
    }
}