<div id="cart">
    <div class="container">
        <div class="head_area">
            <h2>Cart</h2>
            <p>See your products here</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td><input type="number" class="form-contral"></td>
                            <td>35</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td><input type="number" class="form-contral"></td>
                            <td>35</td>
                            <td>35</td>
                        </tr>
                    </tbody>
                    <tfoot class="thead-dark">
                        <tr>
                            <th colspan="4">Sub Total</th>
                            <th>150</th>
                        </tr>
                    </tfoot>
                </table>
                <a class="btn btn-primary" href="#">Checkout</a>
            </div>
        </div>
    </div>
</div>