<mat-tab-group>
    <mat-tab label="Home">
        <form [formGroup]="homeForm" class="example-form" (ngSubmit)="onSubmit()">
            <div class="col border shadow mb-5 p-4" formGroupName="welcome">
                <h2>Welcome</h2>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" formControlName="des">{{welcome.des}}</textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Button Text" formControlName="btnTxt">
                </mat-form-field>
            </div>
            <div class="col border shadow mb-5 p-4">
                <h2>Slider</h2>
                <div formArrayName="sliderItems" class="row">
                    <div *ngFor="let item of sliderItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="URL" formControlName="url">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeItem(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addItem()">Add Slide</button>
            </div>
            <div class="col border shadow mb-5 p-4" formGroupName="ourProduct">
                <h2>Our Product</h2>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" formControlName="des">{{ourProduct.des}}</textarea>
                </mat-form-field>
                <div formArrayName="productItems" class="row">
                    <div *ngFor="let item of productItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="URL" formControlName="url">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeProduct(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addProduct()">Add Product</button>
            </div>
            <div class="col border shadow mb-5 p-4" formGroupName="ourService">
                <h2>Our Services</h2>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" formControlName="des">{{ourService.des}}</textarea>
                </mat-form-field>
                <div formArrayName="serviceItems" class="row">
                    <div *ngFor="let item of serviceItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Icon" formControlName="icon">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeService(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addService()">Add Service</button>
            </div>
            <div class="col border shadow mb-5 p-4" formGroupName="ourClient">
                <h2>Our Clients</h2>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" formControlName="des">{{ourClient.des}}</textarea>
                </mat-form-field>
                <div formArrayName="clientItems" class="row">
                    <div *ngFor="let item of clientItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="URL" formControlName="url">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeClient(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addClient()">Add Client</button>
            </div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </mat-tab>
    <mat-tab label="Shop">
        <form [formGroup]="shopForm" class="example-form" (ngSubmit)="onShopSubmit()">
            <div class="col border shadow mb-5 p-4">
                <h2>Dori</h2>
                <div formArrayName="doriItems" class="row">
                    <div *ngFor="let item of doriItemsArray.controls; let i=index" class="col-sm-4" [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Image URL" formControlName="imgURL">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Price" formControlName="price">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeDori(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addDori()">Add Dori</button>
            </div>
            <div class="col border shadow mb-5 p-4">
                <h2>Lanyard</h2>
                <div formArrayName="lanyardItems" class="row">
                    <div *ngFor="let item of lanyardItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Image URL" formControlName="imgURL">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Price" formControlName="price">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeDori(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addDori()">Add Dori</button>
            </div>
            <div class="col border shadow mb-5 p-4">
                <h2>Holder</h2>
                <div formArrayName="holderItems" class="row">
                    <div *ngFor="let item of holderItemsArray.controls; let i=index" class="col-sm-4"
                        [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Image URL" formControlName="imgURL">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Price" formControlName="price">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeDori(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addDori()">Add Dori</button>
            </div>
            <div class="col border shadow mb-5 p-4">
                <h2>Card</h2>
                <div formArrayName="cardItems" class="row">
                    <div *ngFor="let item of cardItemsArray.controls; let i=index" class="col-sm-4" [formGroupName]="i">
                        <div class="p-2 border mb-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Title" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Image URL" formControlName="imgURL">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Des" formControlName="des">{{item.des}}</textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Price" formControlName="price">
                            </mat-form-field>
                            <button mat-button matSuffix color="warn" (click)="removeDori(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matSuffix color="primary" (click)="addDori()">Add Dori</button>
            </div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </mat-tab>
</mat-tab-group>