<div class="form_sec col-md-4 offset-md-4">
    <form [formGroup]="adminLoginF" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" formControlName="user">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <aside>
            <input class="btn btn-success btn-big" type="submit" value="Send">
        </aside>
    </form>
</div>