<div id="shops">
    <div class="container">
        <div class="head_area">
            <h2>Shops</h2>
            <p>Checkout your cards, dori and holder</p>
        </div>
        <h3>Dori</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Holders</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="../../assets/images/dori/dori01.jpg">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wishlist</button>
                            </div>
                            <small class="text-muted">INR 55</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>