<div id="home">
    <div class="table_t">
        <div class="cell_t">
            <h1>Welcome to Identity Cards</h1>
            <p>Give <b>Identity</b> to your Business Go Now for Identity Cards</p>
            <a class="btn  btn-success" routerLink="shop">Order Now</a>
        </div>
    </div><a class="go_down" href="#samples"></a>
</div>
<div id="samples" class="d-flex align-items-center">
    <div class="container">
        <div class="slider">
            <div class="owl-carousel owl-banner owl-theme">
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-1.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-2.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-3.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-4.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-5.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-6.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-7.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-8.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-9.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-10.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-11.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-11-back.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-12.jpg"></div>
                </div>
                <div class="item">
                    <div class="img_area"><img src="../../assets/images/cards/card-12-back.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="our_product" class="d-flex align-items-center">
    <div class="container">
        <div class="head_area">
            <h2>Our Product</h2>
            <p>Our PVC Identity Cards Accessories for making a CARD</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <aside>
                    <div class="img_area"><img src="../../assets/images/img01.jpg" alt="PVC ID Cards"></div>
                    <div class="txt_area">
                        <p class="head">PVC ID Cards</p>
                        <p>We provide PVC Card, Identity Card for Institution & Companies.</p>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-md-3">
                <aside>
                    <div class="img_area"><img src="../../assets/images/img02.jpg" alt="Magnetic Striping Card"></div>
                    <div class="txt_area">
                        <p class="head">Magnetic Striping Card</p>
                        <p>Magnetic Stripped card stores embossed information.</p>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-md-3">
                <aside>
                    <div class="img_area"><img src="../../assets/images/img03.jpg" alt="Official Dori"></div>
                    <div class="txt_area">
                        <p class="head">Official Dori</p>
                        <p>We provide ID Card Dori Corporate Companies.</p>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-md-3">
                <aside>
                    <div class="img_area"><img src="../../assets/images/img04.jpg" alt="Digital Lanyard / Dori"></div>
                    <div class="txt_area">
                        <p class="head">Digital Lanyard / Dori</p>
                        <p>We provide Digitally printed Lanyard / Dori.</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<div id="services" class="d-flex align-items-center">
    <div class="container">
        <div class="head_area">
            <h2>Our Services</h2>
            <p>PVC ID Cards, Plastic ID Cards, RFID Identity Cards & Magnetic ID Cards.</p>
        </div>
        <div class="round table_t">
            <div class="clearfix cell_t"><i class="creative-icon"></i>
                <h3>Creative Design for Identity Cards</h3>
                <p>We create ID Cards with powerful creative designs and according to the requirement.</p>
            </div>
        </div>
        <div class="round table_t">
            <div class="clearfix cell_t"><i class="identity-icon"></i>
                <h3>Identity Cards Solutions</h3>
                <p>We provide every kinds of Identity Cards Solutions. PVC ID Cards, Magnetic Cards, RFID Cards,
                    Scratching Cards</p>
            </div>
        </div>
        <div class="round table_t">
            <div class="clearfix cell_t"><i class="best-icon"></i>
                <h3>Best & Committed Service</h3>
                <p>We provide for our customer best and committed services. Give us chance to serve you one
                    time.</p>
            </div>
        </div>
    </div>
</div>
<div id="clients" class="d-flex align-items-center">
    <div class="container">
        <div class="head_area">
            <h2>Our Clients</h2>
            <p>Here are our some Prestigious Clients</p>
        </div>
        <ul>
            <li>
                <aside><img src="../../assets/images/client-logo1.jpg" alt="Softona"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo2.jpg" alt="Web Excel Solution"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo3.jpg" alt="EasySol"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo4.jpg" alt="No 1"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo5.jpg" alt="Ind Innovations Pvt"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo6.jpg" alt="Radical Minds"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo7.jpg" alt="IQ Zone"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo8.jpg" alt="Idea"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo9.jpg" alt="KMS"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo10.jpg" alt="DM Group"></aside>
            </li>
            <li>
                <aside><img src="../../assets/images/client-logo11.jpg" alt="Premium Reseller"></aside>
            </li>
        </ul>
    </div>
</div>
<div id="contact" class="d-flex align-items-center">
    <div class="container">
        <div class="head_area">
            <h2>Ask Question</h2>
            <p>Whether you would like to request a demo. We'd love to hear from you.</p>
        </div>
        <div class="form_sec col-md-8 offset-md-2">
            <form class="bottomform">
                <aside>
                    <input class="form-control form-control-big" type="text" name="name" placeholder="Name"><span
                        class="help-block name">Please enter your Name</span>
                </aside>
                <aside>
                    <input class="form-control form-control-big" type="text" name="mail" placeholder="Email"><span
                        class="help-block mail">Please enter Email ID</span>
                </aside>
                <aside>
                    <input class="form-control form-control-big" type="text" name="phone" placeholder="Phone"><span
                        class="help-block phone">Please enter number only</span>
                </aside>
                <aside>
                    <textarea class="form-control form-control-big" type="text" name="msg"
                        placeholder="Message"></textarea><span class="help-block msg">Please enter any
                        message</span>
                </aside>
                <aside>
                    <input class="btn btn-success btn-big" type="submit" value="Send">
                </aside>
            </form>
        </div>
    </div>
</div>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1474.6940709768623!2d77.2337436286943!3d28.517741379154234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce19c0fcd78d7%3A0xd0b9943fe09c4d1c!2sAmbedkar+Nagar%2C+Block+E%2C+Sector+5%2C+Dakshinpuri%2C+New+Delhi%2C+Delhi+110062!5e0!3m2!1sen!2sin!4v1507896065605"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>