<h2>Add a new address</h2>
<p>Be sure to click "Deliver to this address" when you've finished.</p>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Full name">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="mobile" placeholder="Mobile number">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="pincode" placeholder="Pincode">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="address1" placeholder="Flat, House no., Building, Company, Apartment:">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="address2" placeholder="Area, Colony, Street, Sector, Village:">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="landmark" placeholder="Landmark e.g. near apollo hospital:">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="city" placeholder="Town/City:">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="state" placeholder="State: ">
        </mat-form-field>
    </div>
    <h2>Additional Address Details</h2>
    <p>Preferences are used to plan your delivery. However, shipments can sometimes arrive early or later than planned.
    </p>
    <div class="example-container">
        <mat-form-field>
            <mat-label>Address Type</mat-label>
            <select formControlName="addressType" matNativeControl required>
                <option value="home">Home (7 am - 9 pm)</option>
                <option value="office">Office (10 am - 6 pm)</option>
            </select>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Deliver to this address</button>
</form>